/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e1029;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  text-shadow: 2px 2px 10px #000000;
  color: #ffffff;
}

.container {
  align-items: center;
  background-color: #3b1938;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

h1 {
  font-family: 'Plus Jakarta Sans', serif;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 10px 90px 10px  20px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  width: calc(100% - 30px);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
input:focus{
  background-color: black;
  color: white;
}

button {
  padding: 15px 25px;
  margin: 5px;
  font-family: 'Plus Jakarta Sans', serif;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: #640c5b;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #520949;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #3b0933;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

p{
  color: black;
}

.unique{
  background-color: #2e1029;
}
.Ac{
  background-color: #000000;
}
.equal{
  background-color: #ffffff;
  color: #640c5b;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 1.5em;
  }

  input {
    font-size: 16px;
    padding: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 8px 15px;
    font-size: 14px;
  }
}